{% extends 'layouts2.html' %}
{% block body%}
    <h1>
        Add new team member
    </h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method='POST' action="" placeholder="">
        <input  type="hidden" name="csrf_token" value="{{ csrf_token()}}"   />
        <div class="form-group">
               
            {{render_field(form.name, class_="form-control", placeholder="Enter new team member name")}}
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Submit">
        </p>
    </form>



{% endblock %}